<div class="cards-wrapper">
	<ng-template #noCards>
		<hr>
		<h5>There are no cards to show</h5>
	</ng-template>

	<div class="col-md-12 text-center"><h2 class="h2 text-capitalize text-white font-weight-bold">{{currentDeck}}</h2></div>

	<div id="context-box col-md-12">
		<div class = "card_section col-md-4">
			<div id = "card_front"  [@flipAnimation]='stateFront' click>{{currentQuestion}}
			</div>
			<div id = "card_back" [@flipAnimation]='stateBack'>{{currentAnswer}}
			</div>

		</div>

		<div id = "flip_btn_div" class="col-md-12"><button (click)="changeCardState()" type="button" class="flip-btn btn btn-info col-md-4">
			Flip
		</button>
		<div class="col-md-12 col-xs-3"><button class="flip-btn btn-info col-md-2">Previous</button>
		<button (click)="nextCard($event)" class="flip-btn btn-info col-md-2">Next</button></div>
	</div>
	<div id = "flip_btn_div" class="col-md-12" *ngIf="isTeach()"><button class="delete-btn btn btn-danger col-md-4 ma-2" (click)="deleteCard($event)">Delete Card</button></div>
	
	</div>
</div>
<app-add-card></app-add-card>

