<!--<div *ngIf="cards?.length > 0;else noCards">
	<ul *ngFor="let card of cards" class="collection">
		<li class="collection-card">{{card.question}}</li>
		<li class="collection-card">{{card.answer}}</li>
	</ul>

</div>-->



<div class="col-md-12">
	<ul id="cardList" class="col-md-6 center">
		<li *ngFor="let deck of decks let i = index" (click)="findDeck(i)" [id]="deck" class="col-md-2 center"><a>{{deck.id}}</a></li>
	</ul>
</div>

<button type="submit" (click)="tryLogout()" class="btn btn-default">Logout</button>

<!--<div class="col-md-12 text-center mt-4">
		<button id="edit-card-btn" class="btn m-2">Edit</button>
		<button id="del-card-btn" class="btn btn-danger">Delete</button>
	</div>-->
	<!--<app-add-card></app-add-card>-->
