<header>
        <nav>
            <div>
                <h1><a [routerLink]="['/login']"><img src="../assets/logo.png" alt="logo"></a></h1>
            </div>

            <ul>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/about_us']">About</a></li>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']">Login</a></li>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a *ngIf="showLink()" [routerLink]="['deck']">Cards</a></li>       
            </ul>
        </nav>
    </header>
    
  <router-outlet></router-outlet>
