<div>
	<img src="../../assets/card_img.jpg" width="100%" height="20%" alt="" class="about_us_img">
</div>
<div class="col-md-12">
<div class="col-md-8 about_us_txt">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. In est lectus, iaculis a efficitur vitae, pellentesque scelerisque neque. Praesent imperdiet, erat scelerisque fermentum rutrum, ante magna lacinia elit, ac facilisis quam eros id sem. Suspendisse id ultricies magna. Vivamus mollis sem ac massa accumsan rhoncus. Praesent magna dui, fermentum in vulputate nec, pharetra a massa. Proin pretium commodo orci. Fusce in arcu ullamcorper, scelerisque metus eget, semper lectus. Sed dignissim vehicula blandit. Ut ac ligula nec nisi lacinia tincidunt sed eget erat. Aliquam vel nisi eu massa placerat euismod a vel felis. Nam congue eleifend augue, at luctus nulla rutrum non. Mauris nibh erat, fringilla vitae bibendum ac, congue a turpis. Aenean in velit pharetra, euismod ex eget, lobortis est.<br><br>

	<div class="text-center"><button class="ask_me_signin_btn btn btn-danger col-md-2" [routerLink]="['/login']">Sign In!</button></div>
	<br><br>

	Morbi in risus sit amet nulla gravida tempor. Sed facilisis, tellus ac bibendum placerat, nunc nibh cursus mauris, ac volutpat risus nisl nec ex. Etiam eu semper erat, quis tempus est. Sed vehicula faucibus dolor a vestibulum. Cras tristique rhoncus placerat. Vivamus est nisl, gravida sit amet magna sed, dictum ornare est. Phasellus ante justo, venenatis at viverra quis, finibus nec orci. Suspendisse vitae fermentum augue, ultricies pretium nunc. Donec condimentum nisi vel nisi tincidunt, id viverra ligula finibus.<br><br>


	Etiam nec pretium ligula. Sed facilisis velit ac massa pharetra maximus. Donec pulvinar facilisis massa eget interdum. Quisque orci enim, pellentesque eu fermentum vitae, placerat eu mi. Morbi volutpat venenatis massa et pharetra. Morbi in ex vitae neque mollis commodo malesuada sed mi. Proin lacus arcu, mollis sit amet nisl in, bibendum dignissim arcu. Nullam non faucibus turpis. Ut risus tortor, dapibus sit amet tincidunt sit amet, iaculis ac leo. Nunc ut dolor augue.<br><br>

</div>
</div>
