<div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">- Our Mission -
      </h1>
      <p>We are proposing a web application that will assist Santa Fe College students with studying for exams and quizzes.  The main purpose of this application is to improve performance in courses by creating virtual flashcards.  These flashcards can be created by the student but the focus of our flashcards will be official pre-made flashcards by the instructor.  </p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
       <br/>
        <br/>
        <br/>  
        <div class="col-lg-6 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Joey Reaves
            <small>- Developer</small>
          </h3>
          <p> Joey's role is responsible for coding and modifying the website, from layout to function. </p>
        </div>
        <div class="col-lg-6 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>Ishmel Sanon
            <small>- Developer</small>
          </h3>
          <p>Ishmel strive to create visually appealing sites that feature user-friendly design and clear navigation. </p>
        </div>
        
      </div>
    
    <div class="container-2">
        <h2>Contact Us</h2>
      <p>Feel free to contact us by filling out the contact form.</p>
        <div class="row">
        <div class="col-md-7">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110916.83244120437!2d-82.38995783647228!3d29.686401126398884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e6202169bf2c2b%3A0x80e7795d28108d96!2sGainesville%2C+FL!5e0!3m2!1sen!2sus!4v1533328010307" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        
        <div class="col-md-5">
          <h4><strong>Get in Touch</strong></h4>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" name="" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="" value="" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="" value="" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="" rows="3" placeholder="Message"></textarea>
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
          </button>
        </form>
      </div>
              
        </div>
    </div>
    </div>
    <!-- /.container -->
